<div class="container">
    <div class="card mt-5">
        <div class="card-header">Contact</div>
        <div class="card-body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis deserunt dignissimos et. Tenetur facilis dolor, magnam dicta omnis at vero libero est ab? Debitis optio ipsum explicabo aut. Ipsa, expedita? Veritatis ab quisquam assumenda. Ab et voluptatum,
            sed iusto recusandae quis totam maxime eveniet aut minus quo a fuga rerum dolorum. Animi obcaecati expedita pariatur! Natus harum sit impedit nemo? Ea sapiente deserunt quibusdam nemo voluptatibus non voluptatem minus molestiae eligendi eaque
            magnam illo nesciunt distinctio omnis et, accusantium qui hic nulla, dignissimos quod in culpa animi! Obcaecati, tempore praesentium? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint exercitationem similique qui quos nulla dolor
            placeat, ullam veniam, corporis praesentium consequuntur sit vitae sed incidunt pariatur minima laudantium illum quaerat?
        </div>
    </div>
</div>
